

p , h1 {
    color: red;
    text-align: center;
}


img {
    width: 100px;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4
    
}

.imageContainer {
    margin-left: 100%
}


.detailsInfo { 
    width: 700px;
    
    border: solid black 4px;
    
    background: seashell;
}   

button {
    text-align: center;
    width: 200px;
    height: 50px;
    border-bottom: 1px grey solid;
    border-left: 2px red solid;
    padding-top: 2ems;
    margin-top: 2ems;
    margin-bottom: 2rem;
    background: lightgreen
    
}

h1 {
    margin-top: 2ems;
    text-align: center;
}

.my-button {
    width: 500px;
   
}

li {
    list-style: none;
}

.my-info-container {
    background: whitesmoke;
    height: 100vh;
}
